<div layout="row" flex class="content-wrapper">
  <md-content layout-padding style="padding: 24px;width: 100%">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          ng-disabled="isDisabled"
          md-no-cache="noCache"
          md-selected-item="selectedEvent"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.title"
          md-min-length="0"
          md-floating-label="What type of event are you looking for?">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.title}}</span>
        </md-item-template>
        <md-not-found>
          No events found for "{{searchText}}".
        </md-not-found>
      </md-autocomplete>
      <br/>
    </form>
    <md-select ng-model="selectedVenue" md-on-open="loadVenues()" style="width: 100%;">
      <md-select-label>{{ selectedVenue ? selectedVenue : 'Where is your event?' }}</md-select-label>
      <md-option ng-value="venue" ng-repeat="venue in venues">{{venue}}</md-option>
    </md-select>
  </md-content>
</div>
<div layout="row" flex class="content-wrapper">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="views/pagination-template.tpl.html"></dir-pagination-controls>
      <md-list class="event-list">
        <md-item dir-paginate="e in events | itemsPerPage: 10" total-items="totalEvents" current-page="pagination.current">
          <md-item-content>
            <md-button ng-click="selectEvent(e)" ng-class="{'selected' : e === selectedEvent }">
              <img ng-src="{{e.image_url}}" class="face" alt="">
              {{e.title}}
            </md-button>
          </md-item-content>
        </md-item>
      </md-list>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="views/pagination-template.tpl.html"></dir-pagination-controls>
    </md-sidenav>
    <div layout="column" flex class="content-wrapper" id="primary-col">
        <md-content layout="column" flex class="md-padding">
          <h2>{{selectedEvent.title}}</h2>
          <p>{{selectedEvent.description}}</p>
          <div class="cell">
            <img ng-src="{{selectedEvent.image_url}}" alt="{{selectedEvent.title}}">
          </div>
        </md-content>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-list class="event-list">
          <md-item ng-repeat="v in venues">
            <md-item-content>
              <md-button ng-click="eventsForVenue(v)" ng-class="{'selected' : v === selectedVenue }">
                {{v}}
              </md-button>
            </md-item-content>
          </md-item>
        </md-list>
        <md-button ng-click="toggleSidenav('right')" class="md-primary">
          Close
        </md-button>
      </md-content>
    </md-sidenav>
</div>
